.clear-filter[filter-color="black"] {
  @include linear-gradient(rgba($black-color,.20), rgba(0, 0, 0, 0.7));
}

.clear-filter[filter-color="blue"] {
  @include linear-gradient(rgba($black-color,.20), rgba(44, 57, 104, 0.7));
}
[data-background-color="blue"]{
    background-color: $info-color;
}
.section-nucleo-icons .icons-container i:nth-child(6) {
  color: $info-color;
}
.page-header{
  &.page-header-small{
    min-height: 60vh;
    max-height: 640px;
  }
}
